.square {
    margin: 2rem; 
    border: 3px solid black; 
    height: 100px; 
    width: 100px
}
.paragraph {
    font-size: 50px;
}
#niceBtn {
    margin: 2rem;
}
body {
    margin-left: 2rem;
    
}